/*------------------------------------------*/
.zf-flex-table td{
    background-color: #F8F8F8;
    height: 10px;
    overflow: hidden;
    min-width: 110px;
    width: 25%;
    font-size: 14px;
}
.zf-flex-table td:nth-child(2),.zf-flex-table td:nth-child(3),.zf-flex-table th:nth-child(2),.zf-flex-table th:nth-child(3){
    text-align: center;
}
.zf-flex-table th{
    background-color: #EEEEEE;
    color: #A13B3B;
    width: 25%;
    font-size: 14px;
    font-weight: inherit;
}
.zf-flex-table{
    width: 90%;
    height: 90%;
    font-family: "微软雅黑",​宋体;
    margin: 10px auto;
}
.zf-flex-table-inside{
    width: 100%;
    height: 100%;
}
.zf-flex-table th:first-child,td:first-child{
    width: 50%;
    text-align: left;
    padding: 8px 0px 8px 20px;
    line-height: 28px;
}
/*----------------------------------------------*/
/*---------------------------------------*/
.zf-flex-form{
    min-width: 400px;
    max-width: 800px;
    margin: 30px auto;
    width: auto;
    height: auto;
    /*border: solid #bfbfbf 2px;*/
    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*border-radius: 2px;*/
    padding: 20px;
    font-family: "微软雅黑",​宋体;
}
.zf-flex-form input[type="text"],.zf-flex-form select{
    height: 28px;
    outline: none;
    height:30px\9;
    line-height:28px\9;
    padding:2px 0\9;
    *height:30px;
    *line-height:28px;
    *padding:2px 0;
}

.zf-flex-form .ff-title{
    width: 100%;
    text-align: center;
    /*margin: 10px 10px 25px 10px;*/
    margin-bottom: 25px;
    font-size: large;
    border-bottom:solid #bfbfbf 1px ;
    float: left;
}
.zf-flex-form>div{
    float: left;
    box-sizing:border-box;
    padding-bottom: 20px;
}
.zf-flex-form .ff-item-s{
    width: 50%;
}
.zf-flex-form .ff-item-b{
    width: 100%;
}
.zf-flex-form span{
    display: inline-block;
    width: 110px;
    /*padding-left: 20px;*/
    text-align:justify;
}
.zf-flex-form .ff-item-s input,.zf-flex-form .ff-item-s select{
    box-sizing: border-box;
    width: 160px;
}
.zf-flex-form .ff-item-b input{
    width: auto;
}
@media screen and (max-width: 650px) {
    .zf-flex-form .ff-item-s{
        width: 100%;
    }
}
div.ff-item-submit{
    margin: 10px auto;
    width: 400px;
    height:20px;
    clear: both;
    float: none;
}
.ff-item-submit button:first-child{
    float: left;
    margin-left: 50px;
}
.ff-item-submit button:last-child{
    float: right;
    margin-right: 50px;
}
.zf-flex-form b.not-required{
    color: transparent;
}
textarea{
    resize: none;
    outline: none;
    height: 200px;
    padding: 5px;
}
.ff-item-b-multi-line b{
    float: left;
}
.ff-item-b-multi-line span{
    float: left;
}

/*.zf-flex-form{*/
    /*font-family: '微软雅黑','宋体';*/
    /*font-size: 14px;*/
/*}*/
/*.zf-flex-form input{*/
    /*width: 250px;*/
    /*height: 18px;*/
    /*border: 1px solid #bbbbbb;*/
    /*padding: 5px 0px 5px 2px;*/
    /*vertical-align: middle;*/
    /*outline: none;*/
    /*font: 12px/1.5 "微软雅黑", \5b8b\4f53;*/
    /*float: right;*/
    /*margin-right: 60px;*/
/*}*/
/*.zf-flex-form select{*/
    /*height: 30px;*/
    /*vertical-align: middle;*/
    /*outline: none;*/
    /*padding: 5px 0px 5px 2px;*/

    /*font: 12px/1.5 "微软雅黑", \5b8b\4f53;*/
    /*float: right;*/
    /*margin-right: 60px;*/
/*}*/
/*.ff-item-s span,.ff-item-b span{*/
    /*width: 100px;*/
    /*overflow: hidden;*/
    /*height: 28px;*/
    /*line-height: 28px;*/
    /*color: #000;*/
    /*font-size: 14px;*/
    /*text-align: center;*/
/*}*/
.zf-flex-form .ff-title{
    color: #7e6547;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
}
/*.zf-flex-form .ff-hr{*/
    /*height: 20px;*/
    /*font-size: 14px;*/
    /*color: #aaa;*/
    /*text-align: center;*/
    /*line-height: 46px;*/
    /*background: url('../img/bar02.jpg') bottom repeat-x;*/
/*}*/
.zf-flex-form b {
    color: #ff0000;
    font-size: 12px;
}
/*.ff-item-s{*/
    /*float: left;*/
    /*box-sizing: border-box;*/
    /*width: 50%;*/
    /*margin-top: 12px;*/
/*}*/
/*.ff-item-b{*/
    /*float: left;*/
    /*box-sizing: border-box;*/
    /*width: 50%;*/
/*}*/
.zf-flex-form img{
    width: 80px;
    height: 26px;
}

.zf-flex-form #code input{
    width: 80px;
    height: 20px;
}
.zf-flex-form #code img{
    display: inline-block;
    position: relative;
    top:9px;
}
.zf-flex-form button{
    width: 62px;
    height: 25px;
    font-size: 12px;
    color: #333;
}

.ff-item-b-multi-line span,#code span {
    margin-right: 5px;
}

