.div-pretend-table{
    font-family: "微软雅黑",​宋体;
    min-width: 300px;
    margin: 10px auto;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    color: #000;
    font-size: 14px;
}
.zf-dpt-first{
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    /*background-color: #5182BB;*/
    color: #a13b3b;
    padding:15px 0 ;
}
.zf-dpt-item-p1,.zf-dpt-item-p2{
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    float: left;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;

}
.zf-dpt-item-p1{
    background-color: #F8F8F8;
    text-align: center;
}
.zf-dpt-item-s,.zf-dpt-item-b{
    box-sizing: border-box;
    float: left;
}
.zf-dpt-item-multi-line .zf-dpt-item-p2{
    box-sizing: border-box;
    float: none;
    height:200px;
    overflow:auto;
}
.zf-dpt-item-p2{
    padding-left:20px ;
}

.zf-dpt-item-p2 input[type="text"]{
    width: 135px;
    border: 1px solid #999999;
    outline: none;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}
.zf-dpt-item-line input[type='button']{
    font-family: "微软雅黑",​宋体;
    height: 29px;
    cursor: pointer;
    width: 66px;
    font-size: 16px;
}
.zf-dpt-item-line{
    box-sizing: border-box;
    width: 100%;
    float: left;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.zf-dpt-item-b {
    width: 100%;
}
.zf-dpt-item-b .zf-dpt-item-p1,.zf-dpt-item-b .zf-dpt-item-p2{
    width: 50%;
}
.zf-dpt-item-s,.zf-dpt-item-multi-line .zf-dpt-item-p1{
    width: 50%;
}
.zf-dpt-item-s .zf-dpt-item-p1,.zf-dpt-item-s .zf-dpt-item-p2{
    width: 50%;
}
.zf-dpt-item-multi-line .zf-dpt-item-p1{
    line-height: 200px;
    height: 200px;
    width:160px;
}
.zf-dpt-item-b .zf-dpt-item-p1{
    width: 25%;
}
.zf-dpt-item-b .zf-dpt-item-p2{
    width: 75%;
}
@media screen and (max-width: 650px){
    .zf-dpt-item-s,.zf-dpt-item-multi-line .zf-dpt-item-p1,.zf-dpt-item-multi-line .zf-dpt-item-p2{
        width: 100%;
    }

    .zf-dpt-item-s .zf-dpt-item-p1,.zf-dpt-item-s .zf-dpt-item-p2{
        width: 50%;
    }
    .zf-dpt-item-multi-line .zf-dpt-item-p1{
        height:40px;
        line-height: 40px;
    }
    .zf-dpt-item-b .zf-dpt-item-p1{
        width: 30%;
    }
    .zf-dpt-item-b .zf-dpt-item-p2{
        width: 70%;
    }
    .zf-dpt-item-p2 input[type="text"]{
        width: 130px;
    }
    .zf-dpt-item-multi-line .zf-dpt-item-p2{
        height: 300px;
    }
}
.cf{
    clear: both;
}
.zf-dpt-item-multi-line textarea{
    resize: none;
    height: 90%;
    width: 95%;
    outline: none;
    margin: 10px auto!important;
    overflow:hidden;

}
.zf-dpt-item-multi-line .ta-inside{
    overflow:hidden;
}









